.bg-darkblue{
    background-color: #34495E;
}

.bg-darkerlight {
    background-color: #e9ecef;
}

.rounded {
    border-radius: 7px;
}

.textright {
    text-align: right;
}

.shiftdown {
    margin-top: 6px;
}

.padding {
    padding: 15px;
}