<!doctype html>
<html lang="en">
<html>
   <head>
      <!-- Required meta tags -->
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <!-- Bootstrap CSS -->
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
      <!-- Local CSS -->
      <link rel="stylesheet" type="text/css" href="../static/styles.css">

      <!-- JavaScript -->
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
      <!-- Title -->
      <title>LiftLogger</title>
   </head>
   <body class="bg-darkerlight">
      <div class="navbar navbar-expand-md navbar-light bg-darkerlight">
         <div class="container">
            <a href="#" class="navbar-brand nomargin">LiftLogger</a>
            {{ .Loginoutbtn }}
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
               <span class="navbar-toggler-icon"></span>
            </button> <!-- / mobile navbar toggler -->
         </div>
      </div>
      <div class="navbar navbar-expand-md navbar-dark bg-darkblue">
         <div class="container">
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
               <ul class="navbar-nav mr-auto">
                  <li class="nav-item">
                     <a class="nav-link" href="/">Home</a>
                  </li>
                  <li class="nav-item active">
                     <a class="nav-link" href="/about">About<span class="sr-only">(current)</span></a>
                  </li>
               </ul>
            </div>
         </div>
      </div>

      <div class="navbar navbar-expand-md bg-light">
         <div class="container">
            <p class="h1 navbar-brand nomargin">{{ .Username }}</p>
         </div>
      </div>
      <br>
      <div id="maincontent" class="container">
         <div class="row">
            <div class="col-md-12 bg-light padding rounded">
               <p class="h3">LiftLogger</p>
               <br>
               <p>LiftLogger is a free website allowing users to log compound weightlifting personal records</p>
               <p>
                  Created by
                  <a href="http://zhigilei.com/" style="text-decoration: none" target="_blank">Vasil Zhigilei</a>.
                  Source code may be viewed on
                  <a href="https://github.com/vasilzhigilei/LiftLogger" style="text-decoration: none" target="_blank">GitHub</a>
               </p>
               <hr/>
               <p>
                  On the technical side of things, LiftLogger uses Golang with the Gorilla HTTP framework
                  for it's backend. User data is stored in Postgres, while sessions are stored in a faster Redis cache.
                  For the frontend, Bootstrap 4 is used, with the frontend using vanilla Javascript (& a little jQuery)
               </p>
               <p>Login and registration is achieved using Google's OAuth2 authentication platform</p>
            </div>
         </div>
      </div> <!-- /.container -->
      <br>
      <footer class="fixed-bottom font-small bg-darkblue text-darkerlight">
         <div class="footer-copyright text-center py-3">
            2020
            <b>Vasil Zhigilei</b>
         </div>
      </footer>
   </body>
</html>